<% provide(:title, 'Sign up') %>

<!-- Landing Page Contents
    ================================================= -->
<div id="lp-register">
  <div class="container wrapper">
    <div class="row">
      <div class="col-sm-5">

      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="reg-form-container">

          <!-- Register/Login Tabs-->


          <!--Registration Form Contents-->
          <div class="tab-content">
            <div class="tab-pane active" id="register">
              <h3>Register Now!</h3>


              <!--Register Form-->
              <%= form_for(@user,  html: { multipart: true },
                           id:'registration_form',
                           class:'form-inline' ) do |f| %>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <%= f.label :first_name, class:'sr-only'%>
                    <%= f.text_field :first_name, class:'form-control input-group-lg'%>
                  </div>
                  <div class="form-group col-xs-6">
                    <%= f.label :last_name, class:'sr-only'%>
                    <%= f.text_field :last_name, class:'form-control input-group-lg', html: { placeholder:'Last Name' }%>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <%= f.label :email, class:'sr-only'%>
                    <%= f.text_field :email, class:'form-control input-group-lg'%>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <%= f.label :password, class:'sr-only'%>
                    <%= f.text_field :password, class:'form-control input-group-lg'%>
                  </div>
                  <div class="form-group col-xs-6">
                    <%= f.label :password_confirmation, class:'sr-only'%>
                    <%= f.text_field :password_confirmation, class:'form-control input-group-lg'%>
                  </div>
                </div>
                <div class="row">
                  <p class="birth"><strong>Date of Birth</strong></p>
                  <div class="form-group col-sm-3 col-xs-6">
                    <label for="month" class="sr-only"></label>
                    <select class="form-control" id="day">
                      <option value="Day" disabled selected>Day</option>
                      <option>1</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3 col-xs-6">
                    <label for="month" class="sr-only"></label>
                    <select class="form-control" id="month">
                      <option value="month" disabled selected>Month</option>
                      <option>Jan</option>

                    </select>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="year" class="sr-only"></label>
                    <select class="form-control" id="year">
                      <option value="year" disabled selected>Year</option>
                      <option>2000</option>
                    </select>
                  </div>
                </div>
                <div class="form-group gender">
                  <label class="radio-inline">
                    <input type="radio" name="optradio" checked>Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optradio">Female
                  </label>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <label for="city" class="sr-only">City</label>
                    <input id="city" class="form-control input-group-lg reg_name" type="text" name="city" title="Enter city" placeholder="Your city"/>
                  </div>
                  <div class="form-group col-xs-6">
                    <label for="country" class="sr-only"></label>
                    <select class="form-control" id="country">
                      <option value="country" disabled selected>Country</option>
                      <option value="AFG">Afghanistan</option>
                      <option value="ALA">Åland Islands</option>
                      <option value="ALB">Albania</option>
                      <option value="DZA">Algeria</option>
                      <option value="ASM">American Samoa</option>
                      <option value="AND">Andorra</option>
                    </select>
                  </div>
                </div>
                <%= f.submit "Sign up!", class: "btn btn-primary" %>
              <%  end%>

            </div><!--Registration Form Contents Ends-->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>