<% provide(:title, 'Sign up') %>

<!-- Landing Page Contents
    ================================================= -->
<div id="lp-register">
  <div class="container wrapper">
    <div class="row">
      <div class="col-sm-5">

      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="reg-form-container">

          <!-- Register/Login Tabs-->


          <!--Registration Form Contents-->
          <div class="tab-content">
            <div class="tab-pane active" id="register">
              <h3>Register Now!</h3>


              <!--Register Form-->
              <%= form_for(@user,  html: { multipart: true },
                           id:'registration_form',
                           class:'form-inline' ) do |f| %>
                <div class="row">
                  <%= render 'shared/error_messages' ,object: @user%>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <%= f.label :first_name, class:'sr-only'%>
                    <%= f.text_field :first_name,
                                     class:'form-control input-group-lg',
                                     placeholder:'First Name'%>
                  </div>
                  <div class="form-group col-xs-6">
                    <%= f.label :last_name, class:'sr-only'%>
                    <%= f.text_field :last_name,
                                     class:'form-control input-group-lg',
                                     placeholder:'Last Name'%>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <%= f.label :email, class:'sr-only'%>
                    <%= f.text_field :email,
                                     class:'form-control input-group-lg',
                                     placeholder:'Email'%>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <%= f.label :password, class:'sr-only'%>
                    <%= f.text_field :password,
                                     class:'form-control input-group-lg',
                                     placeholder:'Password'%>
                  </div>
                  <div class="form-group col-xs-6">
                    <%= f.label :password_confirmation, class:'sr-only'%>
                    <%= f.text_field :password_confirmation,
                                     class:'form-control input-group-lg',
                                     placeholder:'Password Confirmation'%>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <%= f.label :birthdate %>
                    <%= f.date_select :birthdate,
                                      start_year: 100.years.ago.year,
                                      end_year: 16.years.ago.year %>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-xs-6">
                    <%= f.label :gender %>
                    <%= f.select :gender,
                                 options_for_select(User.
                                     genders.
                                     map {|k,v| [k.to_s.humanize,k]}) %>
                  </div>
                  <div class="form-group col-xs-6">
                    <%= f.label :marital_status %>
                    <%= f.select :marital_status,
                                 options_for_select(User.
                                     marital_statuses.
                                     map {|k,v| [k.to_s.humanize,k]}) %>
                  </div>
                </div>

                <div class="row">

                    <div class="form-group col-xs-12">
                      <%= f.label :city %>
                      <%= f.select :city,
                                          options_for_select(City.
                                              all.
                                              map {|city| [city.name,city.id]}) %>
                    </div>


                </div>
                <%= f.submit "Sign up!", class: "btn btn-primary" %>
              <%  end%>

            </div><!--Registration Form Contents Ends-->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>