<div class="create-post">

  <%= form_for(@post, html: { multipart: true }, remote: true) do |f| %>

    <div class="row">
      <%= render 'shared/error_messages' , object: f.object %>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <div class="form-group">
          <%= f.text_area :caption,
                          placeholder: "Compose new post...",
                          cols:"30",
                          rows:"1",
                          class:"form-control" %>

        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <%= f.submit "Post", class: "btn btn-primary pull-right" %>
      </div>
    </div>
    <div class="row">
        <div class="checkbox ">
          <label><%= f.check_box :is_public,
                                 {class:"checkbox inline pull-left"},
                                 "true", "false"  %>
            Public
          </label>
        </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <%= f.file_field :picture,
                         accept: 'image/jpeg,image/gif,image/png',
                         class: "form-control"%>
      </div>

    </div>

    <% end %>

</div>


