<div class="post-content">

  <!--Post Date-->
  <div class="post-date hidden-xs hidden-sm">
    <h5><%= post.user.first_name %></h5>
    <p class="text-grey"><%= time_ago_in_words(post.created_at) %> ago.</p>
  </div><!--Post Date End-->

  <!-- post photo -->
  <img src="<%= post.picture.url unless post.picture.blank?%>"
       class="img-responsive post-image" >

  <div class="post-container" id="post-<%= post.id %>">

    <div class="post-detail">
      <div class="user-info">
        <h5>
          <%= link_to post.user.full_name,user_path(post.user) %>
        </h5>
        <p class="text-muted"><%= time_ago_in_words(post.created_at) %> ago.</p>
      </div>

        <div class="likes reaction">

          <%= render 'shared/like_form', post: post %>
        </div>
      <div class="likes_count">
        <%= pluralize(post.likes.count,'person')%>  liked this post
      </div>
      <div class="line-divider"></div>
      <div class="post-text">
        <p>
          <%= post.caption %>
          <i class="em em-anguished"></i>
          <i class="em em-anguished"></i>
          <i class="em em-anguished"></i>
        </p>
      </div>
      <div class="line-divider"></div>


    </div>
  </div>
</div>

